@import "tailwindcss";

/* Remove dependency on Tailwind tokens to ensure visibility */

html {
  scroll-behavior: smooth;
}

body {
  background-color: #0b1220;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Reusable utilities */
.container-px {
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 640px) {
  .container-px {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .container-px {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.section-py {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

@media (min-width: 640px) {
  .section-py {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}

@media (min-width: 1024px) {
  .section-py {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}